= simple_form_for @peluqueria do |f|
  =f.input :name  
  =f.input :phone  
  =f.input :website  
  =f.input :description
  = f.input :accepts_credit_cards ,collection: [:Yes, :No]   
  =f.input :parking, collection: [:Yes, :No] 
  = f.submit 'Submit', class: 'button right'
  = link_to 'back', peluquerias_path, class: 'button left'   


