.row 
  %ul
    - @pictures.first(4).each do |picture|
      %li.list-unstyled.col-lg-2.col-md-2.col-sm-6.col-xs-12
        = link_to image_tag(picture.photo.url(:medium), class: "th radius"), picture.photo.url(:large)
  - unless @pictures[5].nil?
    = link_to 'View all photos...', '#', class: 'right'